In [1]:
import numpy as np
import pandas as pd

# Importing Data

In [3]:
insurance = pd.read_csv('supervised-lerning-data-insurance.csv')
insurance.head()

,Seniority,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Weight,Cluster
0,4,80,599,7068.00,0,1,190,0
1,15,85,1229,16030.00,5,1,1105,2
2,3,6,74,1261.82,0,1,87,0
3,3,6,244,3000.00,0,1,92,0
4,13,87,1598,9927.00,4,1,1055,2

# Data InformationÂ¶

In [4]:
insurance.shape

(39802, 8)

In [5]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39802 entries, 0 to 39801
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Seniority          39802 non-null  int64
 1   Power              39802 non-null  int64
 2   Cylinder_capacity  39802 non-null  int64
 3   Value_vehicle      39802 non-null  float64
 4   N_doors            39802 non-null  int64
 5   Type_fuel          39802 non-null  int64
 6   Weight             39802 non-null  int64
 7   Cluster            39802 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 2.4 MB

In [6]:
insurance.isnull().sum()

Seniority            0
Power                0
Cylinder_capacity    0
Value_vehicle        0
N_doors              0
Type_fuel            0
Weight               0
Cluster              0
dtype: int64

In [7]:
insurance.duplicated().sum()

0

In [8]:
insurance.describe()

,Seniority,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Weight,Cluster
count,39802.000000,39802.000000,39802.000000,39802.000000,39802.000000,39802.000000,39802.000000,39802.000000
mean,6.394352,96.445631,1647.587935,19223.823407,4.114416,1.614693,1218.554344,1.595699
std,6.269033,36.841635,582.633198,9594.815367,1.421487,0.486674,424.344352,0.612426
min,1.000000,4.000000,49.000000,270.460000,0.000000,1.000000,50.000000,0.000000
25%,2.000000,75.000000,1390.000000,13540.810000,3.000000,1.000000,1060.000000,1.000000
50%,4.000000,95.000000,1598.000000,18194.000000,5.000000,2.000000,1228.000000,2.000000
75%,8.000000,115.000000,1968.000000,23474.150000,5.000000,2.000000,1410.000000,2.000000
max,40.000000,580.000000,7480.000000,220675.800000,6.000000,2.000000,7300.000000,2.000000